node_modules/
.expo/
dist/
build/
/screenshots/
.kilo/
*.tsbuildinfo
.env
.env.local
.env.*.local
.env.prod
.env.production
*.log
npm-debug.*
.DS_Store
coverage/
.pnpm-store/
.idea/
.next/
apps/api/storage/
apps/admin/.env*
backups/
public-site/.env*
.vscode/
gdpr-data/
gdpr-data.zip
fix.ps1
docs/Docs.zip
# Prisma
apps/api/prisma/migrations/dev.db
apps/api/prisma/*.db
# Mobile
/apps/app.json
/app.json
apps/mobile/app.json
apps/mobile/ios/
apps/mobile/android/
apps/mobile/web-build/
google-services.json
GoogleService-Info.plist
