node_modules/
.expo/
dist/
build/
screenshots/
.kilo/
*.tsbuildinfo
app-web/
.env
.env.local
.env.*.local
.env.prod
.env.production
*.log
npm-debug.*
.DS_Store
coverage/
.pnpm-store/
.idea/
.next/
apps/api/storage/
apps/admin/.env*
backups/
public-site/.env*
.vscode/
gdpr-data-rewatch/
gdpr-data/
gdpr-data-rewatch/

gdpr-data2/
gdpr-data.zip
gdpr-data2.zip
fix.ps1
deploy.ps1
docs/Docs.zip
production-docs/
# Prisma
apps/api/prisma/migrations/dev.db
apps/api/prisma/*.db
# Mobile
/apps/app.json
/app.json
apps/mobile/app.json
apps/mobile/build-top.gradle
apps/mobile/build.gradle
apps/mobile/keystoreprod.keystore

apps/mobile/ios/
apps/mobile/android/
apps/mobile/web-build/
google-services.json
GoogleService-Info.plist
