tvwatchtime.org {
  root * /srv/public-site
  try_files {path} {path}.html /index.html
  file_server
}

api.tvwatchtime.org {
  reverse_proxy api:4000
}

admin.tvwatchtime.org {
  reverse_proxy admin:3000
}